
.home-buttons {
    display: flex;
    gap: 4rem;
    justify-content: center;
}
#siniestros, #aseguradoras{
    background-color: rgb(143, 180, 250);
    font-size: 2rem;
    padding: 4rem;
    width: 50%;

}
.accordion-btn {
    background-color: #87e2f1fd;
    color: #444;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: 0.4s;
    margin-bottom: 1rem;
}

.accordion-btn.active {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: max-height 0.2s ease-out;
}

.btn-back{
    display: flex;
    justify-content: center;
}
#back {
    background-color: rgb(86, 98, 119);
    padding: 0;
    width: 20%;
    font-size: 1.5rem;

}


